@keyframes word-find {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes td-find {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35);
  }
  100% {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
*:focus {
  outline: none;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 1.8rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
}
h1 {
  margin: 1.3rem 0;
}

table {
  // width: 400px;
  border: 1px solid grey;
  border-collapse: collapse;
}
/* границы ячеек тела таблицы */
td {
  font-size: 2.1rem;
  width: 32px;
  height: 32px;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.08s;
  &:hover {
    background-color: #ddd;
    font-size: 2.4rem;
  }
}
td.td-active {
  background-color: #adf;
}
td.td-find {
  background-color: #afd;
  font-weight: 600;
  animation: td-find 0.3s ease-in-out;
}
.buttons {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#words {
  display: flex;
  flex-direction: column;
  span {
    line-height: 1.8;
  }
  span.word-find {
    color: #6b6;
    text-decoration: line-through;
    transform-origin: center;
    animation: word-find 0.5s ease-in-out;
  }
}
button {
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem;
  margin: 0.6rem;
  border: none;
  background-color: #999;
  color: #fff;
  &:hover {
    background-color: #aaa;
  }
  &:active {
    background-color: #888;
  }
}
